*{
margin: 0;
padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.mobile{
    margin-top: 40px;
    border: 2px solid black;
    padding: 20px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.7);
}
.buton-co{
    padding: 20px;
}
.button{
    padding: 20px;
    height: 80px;
    width: 80px;
    margin: 4.1px;
  border: 1px solid black;
  cursor: pointer;
  background-color: black;
  color: #ffff;
  font-size: 1.3rem;
  font-weight: 700;
  border: none;
}

#opr{
    background-color:black;
    color: rgb(255, 72, 0);
    font-size: 1.8rem;
}
#opr i{
    font-size: 2rem;
    color: black;
}
.dis{
    margin-bottom: 10px;
    height: 200px;
    width: 100%;
    background-color: black;
    color:#ffff;
    font-size: 1.5rem;
 }
.wifi {
  float: right;
  color: #ffff;
}
#circle{
    border-radius: 50%;
    background-color:rgb(255, 72, 0);
    color: #ffff;
}
.button:hover{
  background-color: rgb(58, 57, 57);
}
#opr:hover{
    background-color:rgb(255, 72, 0); 
    color: white;

}
